<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iotek.dao.InformationMapper">
    <insert id="saveInformation">
        insert into T_INFORMATION(I_RNAME,I_SEX,I_BIRTH,I_ADDRESS,I_PHONE,I_EMAIL,I_UID)
        values (#{rname},#{sex},#{birth},#{address},#{phone},#{Email},#{uid})
    </insert>

    <update id="updateInformation">
        UPDATE T_INFORMATION SET I_RNAME=#{rname},I_SEX=#{sex},I_BIRTH=#{birth},
        I_ADDRESS=#{address},I_PHONE=#{phone},I_EMAIL=#{Email} WHERE I_ID=#{id}
    </update>

    <delete id="delInformation">
        DELETE FROM T_INFORMATION WHERE I_ID=#{iid}
    </delete>

    <select id="queryByUid" resultMap="INFORMATION">
        SELECT * FROM T_INFORMATION WHERE I_UID=#{uid}
    </select>
    <resultMap id="INFORMATION" type="com.iotek.model.Information">
        <id property="id" column="I_ID"/>
        <result property="rname" column="I_RNAME"/>
        <result property="sex" column="I_SEX"/>
        <result property="birth" column="I_BIREH"/>
        <result property="address" column="I_ADDRESS"/>
        <result property="phone" column="I_PHONE"/>
        <result property="Email" column="I_EMAIL"/>
        <result property="uid" column="I_UID"/>
    </resultMap>
</mapper>