<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iotek.dao.UserMapper">
    <insert id="saveUser">
        insert into T_USER(U_NAME, U_PASS) VALUES (#{name},#{name})
    </insert>

    <select id="queryUser" resultMap="USER">

    </select>
    <resultMap id="USER" type="com.iotek.model.User">
        <id property="id" column="U_ID"/>
        <result property="name" column="U_NAME"/>
        <result property="pass" column="U_PASS"/>
    </resultMap>
</mapper>
