#clock {
    position: relative;
    width: 600px;
    height: 600px;
    padding: 0px;
    margin: 20px auto 0 auto;
    background: url(clockface.jpg);
    list-style: none;
}

#sec, #min, #hour {
    position: absolute;
    width: 30px;
    height: 600px;
    top: 0px;
    left: 285px;
}

#sec {
    background: url(sechand.png);
    z-index: 3;
}

#min {
    background: url(minhand.png);
    z-index: 2;
}

#hour {
    background: url(hourhand.png);
    z-index: 1;
}
div {
    display: none;
}