<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iotek.dao.DepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.iotek.model.Department" >
    <id column="D_ID" property="id" jdbcType="DECIMAL" />
    <result column="D_NAME" property="name" jdbcType="VARCHAR" />
    <result column="D_CREATIONTIME" property="creationtime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    D_ID, D_NAME, D_CREATIONTIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.iotek.model.DepartmentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_DEPARTMENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_DEPARTMENT
    where D_ID = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from T_DEPARTMENT
    where D_ID = #{id}
  </delete>
  <delete id="deleteByExample" parameterType="com.iotek.model.DepartmentExample" >
    delete from T_DEPARTMENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.iotek.model.Department" >
    insert into T_DEPARTMENT (D_ID, D_NAME, D_CREATIONTIME
      )
    values (#{id}, #{name}, #{creationtime}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.iotek.model.Department" >
    insert into T_DEPARTMENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        D_ID,
      </if>
      <if test="name != null" >
        D_NAME,
      </if>
      <if test="creationtime != null" >
        D_CREATIONTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="creationtime != null" >
        #{creationtime},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.iotek.model.DepartmentExample" resultType="java.lang.Integer" >
    select count(*) from T_DEPARTMENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_DEPARTMENT
    <set >
      <if test="record.id != null" >
        D_ID = #{record.id},
      </if>
      <if test="record.name != null" >
        D_NAME = #{record.name},
      </if>
      <if test="record.creationtime != null" >
        D_CREATIONTIME = #{record.creationtime},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_DEPARTMENT
    set D_ID = #{record.id},
      D_NAME = #{record.name},
      D_CREATIONTIME = #{record.creationtime}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.iotek.model.Department" >
    update T_DEPARTMENT
    <set >
      <if test="name != null" >
        D_NAME = #{name},
      </if>
      <if test="creationtime != null" >
        D_CREATIONTIME = #{creationtime},
      </if>
    </set>
    where D_ID = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iotek.model.Department" >
    update T_DEPARTMENT
    set D_NAME = #{name},
      D_CREATIONTIME = #{creationtime}
    where D_ID = #{id}
  </update>
</mapper>