<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iotek.dao.JobMapper" >
  <resultMap id="BaseResultMap" type="com.iotek.model.Job" >
    <id column="J_ID" property="id" jdbcType="DECIMAL" />
    <result column="J_NAME" property="name" jdbcType="VARCHAR" />
    <result column="J_CREATIONTIME" property="creationtime" jdbcType="VARCHAR" />
    <result column="J_DID" property="did" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    J_ID, J_NAME, J_CREATIONTIME, J_DID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.iotek.model.JobExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_JOB
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_JOB
    where J_ID = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from T_JOB
    where J_ID = #{id}
  </delete>
  <delete id="deleteByExample" parameterType="com.iotek.model.JobExample" >
    delete from T_JOB
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.iotek.model.Job" >
    insert into T_JOB (J_ID, J_NAME, J_CREATIONTIME, 
      J_DID)
    values (#{id}, #{name}, #{creationtime},
      #{did})
  </insert>
  <insert id="insertSelective" parameterType="com.iotek.model.Job" >
    insert into T_JOB
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        J_ID,
      </if>
      <if test="name != null" >
        J_NAME,
      </if>
      <if test="creationtime != null" >
        J_CREATIONTIME,
      </if>
      <if test="did != null" >
        J_DID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="creationtime != null" >
        #{creationtime},
      </if>
      <if test="did != null" >
        #{did},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.iotek.model.JobExample" resultType="java.lang.Integer" >
    select count(*) from T_JOB
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_JOB
    <set >
      <if test="record.id != null" >
        J_ID = #{record.id},
      </if>
      <if test="record.name != null" >
        J_NAME = #{record.name},
      </if>
      <if test="record.creationtime != null" >
        J_CREATIONTIME = #{record.creationtime},
      </if>
      <if test="record.did != null" >
        J_DID = #{record.did},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_JOB
    set J_ID = #{record.id},
      J_NAME = #{record.name},
      J_CREATIONTIME = #{record.creationtime},
      J_DID = #{record.did}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.iotek.model.Job" >
    update T_JOB
    <set >
      <if test="name != null" >
        J_NAME = #{name},
      </if>
      <if test="creationtime != null" >
        J_CREATIONTIME = #{creationtime},
      </if>
      <if test="did != null" >
        J_DID = #{did},
      </if>
    </set>
    where J_ID = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iotek.model.Job" >
    update T_JOB
    set J_NAME = #{name},
      J_CREATIONTIME = #{creationtime},
      J_DID = #{did}
    where J_ID = #{id}
  </update>
</mapper>