<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iotek.dao.MemberShowCVMapper" >
  <resultMap id="BaseResultMap" type="com.iotek.model.MemberShowCV" >
    <id column="M_ID" property="id" jdbcType="DECIMAL" />
    <result column="M_RID" property="rid" jdbcType="DECIMAL" />
    <result column="M_VID" property="vid" jdbcType="DECIMAL" />
    <result column="M_TIME" property="time" jdbcType="VARCHAR" />
    <result column="M_STATE" property="state" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    M_ID, M_RID, M_VID, M_TIME, M_STATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.iotek.model.MemberShowCVExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_MEMBERSHOWCV
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_MEMBERSHOWCV
    where M_ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from T_MEMBERSHOWCV
    where M_ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.iotek.model.MemberShowCVExample" >
    delete from T_MEMBERSHOWCV
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.iotek.model.MemberShowCV" >
    insert into T_MEMBERSHOWCV (M_ID, M_RID, M_VID, 
      M_TIME, M_STATE)
    values (#{id,jdbcType=DECIMAL}, #{rid,jdbcType=DECIMAL}, #{vid,jdbcType=DECIMAL}, 
      #{time,jdbcType=VARCHAR}, #{state,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.iotek.model.MemberShowCV" >
    insert into T_MEMBERSHOWCV
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        M_ID,
      </if>
      <if test="rid != null" >
        M_RID,
      </if>
      <if test="vid != null" >
        M_VID,
      </if>
      <if test="time != null" >
        M_TIME,
      </if>
      <if test="state != null" >
        M_STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="rid != null" >
        #{rid,jdbcType=DECIMAL},
      </if>
      <if test="vid != null" >
        #{vid,jdbcType=DECIMAL},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.iotek.model.MemberShowCVExample" resultType="java.lang.Integer" >
    select count(*) from T_MEMBERSHOWCV
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_MEMBERSHOWCV
    <set >
      <if test="record.id != null" >
        M_ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.rid != null" >
        M_RID = #{record.rid,jdbcType=DECIMAL},
      </if>
      <if test="record.vid != null" >
        M_VID = #{record.vid,jdbcType=DECIMAL},
      </if>
      <if test="record.time != null" >
        M_TIME = #{record.time,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        M_STATE = #{record.state,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_MEMBERSHOWCV
    set M_ID = #{record.id,jdbcType=DECIMAL},
      M_RID = #{record.rid,jdbcType=DECIMAL},
      M_VID = #{record.vid,jdbcType=DECIMAL},
      M_TIME = #{record.time,jdbcType=VARCHAR},
      M_STATE = #{record.state,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.iotek.model.MemberShowCV" >
    update T_MEMBERSHOWCV
    <set >
      <if test="rid != null" >
        M_RID = #{rid,jdbcType=DECIMAL},
      </if>
      <if test="vid != null" >
        M_VID = #{vid,jdbcType=DECIMAL},
      </if>
      <if test="time != null" >
        M_TIME = #{time,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        M_STATE = #{state,jdbcType=DECIMAL},
      </if>
    </set>
    where M_ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iotek.model.MemberShowCV" >
    update T_MEMBERSHOWCV
    set M_RID = #{rid,jdbcType=DECIMAL},
      M_VID = #{vid,jdbcType=DECIMAL},
      M_TIME = #{time,jdbcType=VARCHAR},
      M_STATE = #{state,jdbcType=DECIMAL}
    where M_ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>