<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iotek.dao.TrainMapper" >
  <resultMap id="BaseResultMap" type="com.iotek.model.Train" >
    <id column="T_ID" property="id" jdbcType="DECIMAL" />
    <result column="T_CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="T_REQUIRED" property="required" jdbcType="VARCHAR" />
    <result column="T_STARTTIME" property="starttime" jdbcType="VARCHAR" />
    <result column="T_ENDTIME" property="endtime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    T_ID, T_CONTENT, T_REQUIRED, T_STARTTIME, T_ENDTIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.iotek.model.TrainExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_TRAIN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_TRAIN
    where T_ID = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from T_TRAIN
    where T_ID = #{id}
  </delete>
  <delete id="deleteByExample" parameterType="com.iotek.model.TrainExample" >
    delete from T_TRAIN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.iotek.model.Train" >
    insert into T_TRAIN (T_ID, T_CONTENT, T_REQUIRED, 
      T_STARTTIME, T_ENDTIME)
    values (#{id}, #{content}, #{required},
      #{starttime}, #{endtime})
  </insert>
  <insert id="insertSelective" parameterType="com.iotek.model.Train" >
    insert into T_TRAIN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        T_ID,
      </if>
      <if test="content != null" >
        T_CONTENT,
      </if>
      <if test="required != null" >
        T_REQUIRED,
      </if>
      <if test="starttime != null" >
        T_STARTTIME,
      </if>
      <if test="endtime != null" >
        T_ENDTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="content != null" >
        #{content},
      </if>
      <if test="required != null" >
        #{required},
      </if>
      <if test="starttime != null" >
        #{starttime},
      </if>
      <if test="endtime != null" >
        #{endtime},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.iotek.model.TrainExample" resultType="java.lang.Integer" >
    select count(*) from T_TRAIN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_TRAIN
    <set >
      <if test="record.id != null" >
        T_ID = #{record.id},
      </if>
      <if test="record.content != null" >
        T_CONTENT = #{record.content},
      </if>
      <if test="record.required != null" >
        T_REQUIRED = #{record.required},
      </if>
      <if test="record.starttime != null" >
        T_STARTTIME = #{record.starttime},
      </if>
      <if test="record.endtime != null" >
        T_ENDTIME = #{record.endtime},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_TRAIN
    set T_ID = #{record.id},
      T_CONTENT = #{record.content},
      T_REQUIRED = #{record.required},
      T_STARTTIME = #{record.starttime},
      T_ENDTIME = #{record.endtime}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.iotek.model.Train" >
    update T_TRAIN
    <set >
      <if test="content != null" >
        T_CONTENT = #{content},
      </if>
      <if test="required != null" >
        T_REQUIRED = #{required},
      </if>
      <if test="starttime != null" >
        T_STARTTIME = #{starttime},
      </if>
      <if test="endtime != null" >
        T_ENDTIME = #{endtime},
      </if>
    </set>
    where T_ID = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iotek.model.Train" >
    update T_TRAIN
    set T_CONTENT = #{content},
      T_REQUIRED = #{required},
      T_STARTTIME = #{starttime},
      T_ENDTIME = #{endtime}
    where T_ID = #{id}
  </update>
</mapper>