<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iotek.dao.TrainAndDepMapper" >
  <resultMap id="BaseResultMap" type="com.iotek.model.TrainAndDep" >
    <id column="TAD_ID" property="id" jdbcType="DECIMAL" />
    <result column="TAD_DID" property="did" jdbcType="DECIMAL" />
    <result column="TAD_TID" property="tid" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TAD_ID, TAD_DID, TAD_TID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.iotek.model.TrainAndDepExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_TRAINANDDEP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_TRAINANDDEP
    where TAD_ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from T_TRAINANDDEP
    where TAD_ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.iotek.model.TrainAndDepExample" >
    delete from T_TRAINANDDEP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.iotek.model.TrainAndDep" >
    insert into T_TRAINANDDEP (TAD_ID, TAD_DID, TAD_TID)
    values (#{id,jdbcType=DECIMAL}, #{did,jdbcType=DECIMAL}, #{tid,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.iotek.model.TrainAndDep" >
    insert into T_TRAINANDDEP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        TAD_ID,
      </if>
      <if test="did != null" >
        TAD_DID,
      </if>
      <if test="tid != null" >
        TAD_TID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="did != null" >
        #{did,jdbcType=DECIMAL},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.iotek.model.TrainAndDepExample" resultType="java.lang.Integer" >
    select count(*) from T_TRAINANDDEP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_TRAINANDDEP
    <set >
      <if test="record.id != null" >
        TAD_ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.did != null" >
        TAD_DID = #{record.did,jdbcType=DECIMAL},
      </if>
      <if test="record.tid != null" >
        TAD_TID = #{record.tid,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_TRAINANDDEP
    set TAD_ID = #{record.id,jdbcType=DECIMAL},
      TAD_DID = #{record.did,jdbcType=DECIMAL},
      TAD_TID = #{record.tid,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.iotek.model.TrainAndDep" >
    update T_TRAINANDDEP
    <set >
      <if test="did != null" >
        TAD_DID = #{did,jdbcType=DECIMAL},
      </if>
      <if test="tid != null" >
        TAD_TID = #{tid,jdbcType=DECIMAL},
      </if>
    </set>
    where TAD_ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iotek.model.TrainAndDep" >
    update T_TRAINANDDEP
    set TAD_DID = #{did,jdbcType=DECIMAL},
      TAD_TID = #{tid,jdbcType=DECIMAL}
    where TAD_ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>