<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iotek.dao.VitaeMapper" >
  <resultMap id="BaseResultMap" type="com.iotek.model.Vitae" >
    <id column="V_ID" property="id" jdbcType="DECIMAL" />
    <result column="V_NAME" property="name" jdbcType="VARCHAR" />
    <result column="V_BIRTH" property="birth" jdbcType="VARCHAR" />
    <result column="V_SEX" property="sex" jdbcType="VARCHAR" />
    <result column="V_PHONE" property="phone" jdbcType="DECIMAL" />
    <result column="V_ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="V_EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="V_EDUCATION" property="education" jdbcType="VARCHAR" />
    <result column="V_UID" property="uid" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    V_ID, V_NAME, V_BIRTH, V_SEX, V_PHONE, V_ADDRESS, V_EMAIL, V_EDUCATION, V_UID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.iotek.model.VitaeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_VITAE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_VITAE
    where V_ID = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from T_VITAE
    where V_ID = #{id}
  </delete>
  <delete id="deleteByExample" parameterType="com.iotek.model.VitaeExample" >
    delete from T_VITAE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.iotek.model.Vitae" >
    insert into T_VITAE (V_ID, V_NAME, V_BIRTH, 
      V_SEX, V_PHONE, V_ADDRESS, 
      V_EMAIL, V_EDUCATION, V_UID
      )
    values (#{id}, #{name}, #{birth},
      #{sex}, #{phone}, #{address},
      #{email}, #{education}, #{uid}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.iotek.model.Vitae" >
    insert into T_VITAE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        V_ID,
      </if>
      <if test="name != null" >
        V_NAME,
      </if>
      <if test="birth != null" >
        V_BIRTH,
      </if>
      <if test="sex != null" >
        V_SEX,
      </if>
      <if test="phone != null" >
        V_PHONE,
      </if>
      <if test="address != null" >
        V_ADDRESS,
      </if>
      <if test="email != null" >
        V_EMAIL,
      </if>
      <if test="education != null" >
        V_EDUCATION,
      </if>
      <if test="uid != null" >
        V_UID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="birth != null" >
        #{birth},
      </if>
      <if test="sex != null" >
        #{sex},
      </if>
      <if test="phone != null" >
        #{phone},
      </if>
      <if test="address != null" >
        #{address},
      </if>
      <if test="email != null" >
        #{email},
      </if>
      <if test="education != null" >
        #{education},
      </if>
      <if test="uid != null" >
        #{uid},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.iotek.model.VitaeExample" resultType="java.lang.Integer" >
    select count(*) from T_VITAE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_VITAE
    <set >
      <if test="record.id != null" >
        V_ID = #{record.id},
      </if>
      <if test="record.name != null" >
        V_NAME = #{record.name},
      </if>
      <if test="record.birth != null" >
        V_BIRTH = #{record.birth},
      </if>
      <if test="record.sex != null" >
        V_SEX = #{record.sex},
      </if>
      <if test="record.phone != null" >
        V_PHONE = #{record.phone},
      </if>
      <if test="record.address != null" >
        V_ADDRESS = #{record.address},
      </if>
      <if test="record.email != null" >
        V_EMAIL = #{record.email},
      </if>
      <if test="record.education != null" >
        V_EDUCATION = #{record.education},
      </if>
      <if test="record.uid != null" >
        V_UID = #{record.uid},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
   <update id="updateByExample" parameterType="map" >
    update T_VITAE
    set V_ID = #{record.id},
      V_NAME = #{record.name},
      V_BIRTH = #{record.birth},
      V_SEX = #{record.sex},
      V_PHONE = #{record.phone},
      V_ADDRESS = #{record.address},
      V_EMAIL = #{record.email},
      V_EDUCATION = #{record.education},
      V_UID = #{record.uid}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.iotek.model.Vitae" >
    update T_VITAE
    <set >
      <if test="name != null" >
        V_NAME = #{name},
      </if>
      <if test="birth != null" >
        V_BIRTH = #{birth},
      </if>
      <if test="sex != null" >
        V_SEX = #{sex},
      </if>
      <if test="phone != null" >
        V_PHONE = #{phone},
      </if>
      <if test="address != null" >
        V_ADDRESS = #{address},
      </if>
      <if test="email != null" >
        V_EMAIL = #{email},
      </if>
      <if test="education != null" >
        V_EDUCATION = #{education},
      </if>
      <if test="uid != null" >
        V_UID = #{uid},
      </if>
    </set>
    where V_ID = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iotek.model.Vitae" >
    update T_VITAE
    set V_NAME = #{name},
      V_BIRTH = #{birth},
      V_SEX = #{sex},
      V_PHONE = #{phone},
      V_ADDRESS = #{address},
      V_EMAIL = #{email},
      V_EDUCATION = #{education},
      V_UID = #{uid}
    where V_ID = #{id}
  </update>
</mapper>